// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #2c3e50;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	height: 90%;
	width: 150px;

	
	.dot {
		height: 15px;
		width: 15px;
		background: red;
		border-radius: 50%;
		margin: 3px 0;
		background: #FFF;
	  transform: translate3d(0px, 0, 0);
	}
	
	@for $i from 1 through 20 {
		$time: $i + 800;
		.dot-#{$i} {
				// animation: move 3s ease-in-out $i + s infinite;
				animation: move  $time + ms ease-in-out  infinite;
			
			
		}
	}

}


@keyframes move {
	0%, 100% {
		transform: translate3d(0px, 0, 0);
	}
	50% {
		transform: translate3d(135px, 0, 0);
	}
}