// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #e74c3c;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	
	.circle {
		background: #FFF;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		position: absolute;
		transform: translate(-50%, -50%) scale(0);
		box-shadow: 5px 5px 15px 0 rgba(0, 0,0,0.4);
	}
	.circle1 {
		animation: circle1 5s ease-in-out infinite;
	}
	.circle2 {
		animation: circle2 5s ease-in-out infinite;
	}
	.circle3 {
		animation: circle3 5s ease-in-out infinite;
	}
}

@keyframes circle1 {
	0%, 100% {
		transform: translate(-50%, -50%) scale(0);
	}
	15%, 85% {
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes circle2 {
	0%, 100% {
		transform: translate(-50%, -50%) scale(0);
	}
	25%, 75% {
		transform: translate(-50%, -50%) scale(.66);
	}
}

@keyframes circle3 {
	0%, 100% {
		transform: translate(-50%, -50%) scale(0);
	}
	45%, 55% {
		transform: translate(-50%, -50%) scale(.33);
	}
}
