// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #34495e;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#check {
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 100px;
	width: 100px;
	&:hover {
		cursor:pointer;
	}
}
#check:checked ~ .center {
	transform: translate(-50%,-50%) scale(0);
	transition: 1s ease;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
	height: 250px;
	width: 250px;
	background: white;
	box-shadow: 0 15px 15px 0 rgba(0,0,0,1);
	animation: appear 1s ease;
	transition: 1s ease;
	
	.error {
		height: 100px;
		width: 100%;
		position: relative;
		.exclamation {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #FFF;
			font-size: 2em;
			font-weight: bold;
			transform: translate(-50%, 15%);
		}
		.triangle {
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			height: 50px;
			width: 50px;
			transform: translate(-50%, 0);
		}
	}
	
	.text {
		height: 100px;
		text-align: center;
	}
	
	.button {
		border:none;
		color: #FFF;
		background: crimson;
		font-weight: bold;
		height: 50px;
		width: 100%;
		display: grid;
  	align-items: center;
  	justify-items: center;
		
		&:hover {
			cursor: pointer;
			background: darken(crimson, 10%);
		}
	}
}

@keyframes appear {
	0% {
		transform: translate(-50%,-50%) scale(0);
	}
	100% {
		transform: translate(-50%,-50%) scale(1);
	}
}