// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #34495e;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	background: transparent;
	height: 15px;
	width: 60px;
	border-radius: 5px;
	font-size: 2em;
	letter-spacing: .2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction:column;
	width: 200px;
	height: 100px;
	
	.pause {
		color: #FFF;
	}
	
	.timer {
		background: #FFF;
		// padding: 10px 40px;
		width: 110px;
		height: 50px;
		border-radius: 5px;
		display:flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items:center;
	}
	
	.timerBtn {
		background: transparent;
		color: #FFF;
		border: none;
		font-size:1em;
		height:50px;
		width: 50px;
		border-radius: 50%;
		display: flex;
		justify-content:center;
		align-items:center;
		&:hover{
			cursor: pointer;
		}
	}
}
