// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  margin-top: -192px;
  margin-left: -175px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #4C4C4C;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	.wristBand {
		position: absolute;
		top: 0;
		left: 38%;
		height: 100%;
		width: 100px;
		background: #2d3436;
		border-left: 7px solid #3A3A3A;
		border-right: 7px solid #3A3A3A;
	}
}

.clock {
  position: absolute;
  top: 25%;
  left: 25%;
  border: 7px solid #3A3A3A;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #2d3436;
	.dotted {
		 	position: absolute;
  		top: 18px;
  		left: 18px;
			height: 160px;
			width: 160px;
			border-radius: 50%;
  		border: 2px dotted #FFF;
		
		  .date {
					position: absolute;
					top: 40px;
					left: 30px;
					font-size: 12px;
					font-weight:bold;
					color: #FFF;
		  }
			.time {
					position: absolute;
					top: 55px;
					left: 28px;
					font-size: 40px;
					font-weight:bold;
					color: #FFF;
			}
			.heartbeat {
					position: absolute;
					top: 105px;
					left: 50px;
					font-size: 12px;
					color: #fff;
					font-weight: bold;
					.heartwrapper {
							position: absolute;
							left: -20px;
							top: 2px;
							transform: rotate(45deg);
							.heart {
									width: 10px;
									height: 10px;
									background: red;
									animation: pulse 1s infinite linear; 
									
							}
							.heart::before {
									content:"";
									position: absolute;
									right:5px;
									top: 0px;
									height: 10px;
									width: 10px;
									border-radius: 50%;
									background:red;
							}
							.heart::after {
									content:"";
									position: absolute;
									left:0px;
									bottom: 5px;
									height: 10px;
									width: 10px;
									border-radius: 50%;
									background:red;
							}
					}
			}
			.kcal {
				position: absolute;
					top: 105px;
					left: 75px;
					font-size: 12px;
					color: #fff;
					font-weight: bold;
			}
	}
}


@keyframes pulse {
	0%{
		transform: scale(.8);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(.8);
	} 
}


.spinner {
	  position: absolute;
		top: 5px;
		left: 5px;
		border: 7px solid #e6e6e6;
		border-top: 7px solid #f77a52;
		width: 175px;
		height: 175px;
		border-radius: 50%;
		animation: loading 2.5s infinite ease;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}